{% extends 'base.html' %}
{% block content %}
<main class="main hbox">
    <div class="hiper-item"></div>
    <div class="item">
        <form method="POST" class="form vbox"> {% csrf_token %}

            <p class="title">Login</p>

            <label for="username">Nome de Usuário</label>
            <input type="text" class="form-item" name="username" required />
            <label for="password">Senha</label>
            <input type="password" class="form-item" name="password" required />
            <button type="submit" class="btn btn-submit">Login</button>

            <p class="error">{{ error }}</p>
        </form>
    </div>
</main>
{% endblock content %}