{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's in Cabinet</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/btns.css' %}">
    <script src="https://kit.fontawesome.com/535192e887.js" crossorigin="anonymous"></script>
</head>
<body class="vbox">
    <header class="header hbox">
        <a class="logo icon" href="{% url 'home' %}">
            <i class="fas fa-list-ol"></i>
            <span>InCabinet</span>
        </a>
        
        {% if request.user.is_authenticated %}
        <span class="title">{{ request.user.username }} | {{ request.user.get_full_name }}</span>
        {% endif %}

        <div class="items">
            <a href="{% url 'home' %}" class="btn btn-light"><i class="fas fa-home"></i></a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-dark">Sair</a>
            {% else %}
            <a href="{% url 'access' %}" class="btn btn-dark">Login</a>
            <a href="{% url 'register' %}" class="btn btn-dark">Registrar</a>
            {% endif %}
            <a href="#" class="btn btn-dark">About</a>
        </div>
    </header>
    {% block content %}
    {% endblock %}    
    <footer class="footer hbox">
        <span class="copyright"></span>
        <span class="developer hbox"><span>Desenvolvido por</span><span class="sp-title">CorreaG.</span></span>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>