.btn {
    outline: none;
    text-decoration: none;
    padding: .2rem .6rem;
    font-size: 1rem;
    margin: .1rem;
    transition: .25s;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.btn-light{
    background-color: rgba(245, 245, 220, 0.6);  
    border: 1px solid rgba(245, 245, 220, 1);
}

.btn-light:hover{
    background-color: rgba(245, 245, 220, 1);     
    border: 1px solid rgba(245, 245, 220, 1);
}

.btn-light:active{
    box-shadow: inset 1px 1px lightgrey;
}

.btn-dark{
    background-color: rgba(222, 184, 135, 0.6);   
    border: 1px solid rgba(222, 184, 135, 1);
}

.btn-dark:hover{
    background-color: rgba(222, 184, 135, 1);  
    border: 1px solid rgba(222, 184, 135, 1);
}

.btn-dark:active{
    box-shadow: inset 1px 1px gray;
}


.btn-submit{
    color: white;
    background-color: rgba(75, 54, 33, .6);    
    border: 1px solid rgba(75, 54, 33, 1);
    align-self: center;
}

.btn-submit:hover{
    background-color: rgba(75, 54, 33, 1);         
    border: 1px solid rgba(75, 54, 33, 1);
}

.btn-submit:active{
    box-shadow: inset 1px 1px #151515;
}

.btn-table {
    background-color: rgba(211, 211, 211, 0.7);
    transition: .25s;
    cursor: pointer;
}

.btn-table:hover,
.btn-table:active {
    background-color: gray;
    color: rgb(30, 38, 57)!important;
}
