@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto&display=swap');
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    text-decoration: none;
    outline: none;
    color: inherit;
}


.vbox{
    display: flex;
    flex-direction: column;
}

.hbox{
    display: flex;
    flex-direction: row;
}

body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
}
.header{
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
    background-color: brown;
    background-image: url('https://i.pinimg.com/originals/c1/27/69/c127693b3af8120d642a7e3eeb3e2837.jpg');
    color: white;
    box-shadow: 0 1px black;
}

.logo{
    font-family: 'Indie Flower', cursive;
    font-size: 2.5rem;
}

.main{
    flex-grow: 5;
    padding: 1rem 0;
}

.item{
    flex-grow: 1;
}

.super-item{
    flex-grow: 2;
}

.hiper-item{
    flex-grow: 3;
}

.mega-item{
    flex-grow: 5;
}

.form{
    padding: 1rem;    
    min-height: 100%;
    justify-content: center;
    background-color: rgba(245, 245, 220, 1);
    max-width: 40vw;
}
.title{
    font-size: 1.2rem;
    font-weight: 600;
}

.form .title{
    margin-bottom: .5rem;
}

.sp-title{
    padding: 0 0 0  1rem;
    font-size: 3rem;
    font-family: 'Indie Flower', cursive;
    color: white;
}

.form-item {
    width: 100%;
    outline: none;
    border: 1px solid rgb(30, 38, 57);
    padding: .5rem;
    font-size: .7rem;
    color: rgba(72,56,23 ,1);
    margin-bottom: .7rem;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.span-item {
    width: 100%;
    outline: none;
    border-bottom: 2px solid rgb(30, 38, 57);
    padding: .5rem;
    font-size: 1rem;
    color: rgba(72,56,23 ,1);
    margin-bottom: .7rem;
}

.footer{
    flex-grow: 1;
    justify-content: space-between;
    padding: .4rem 2rem;
    align-items: center;
    align-content: center;
    background-color: rgba(245, 245, 220, 1);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcScCLTLUgCrNQ6tDMuGM4WYIK4ncvCS9ma0ZlqMNlSAdKf0S3RD&usqp=CAU');
    color: white;
}

.developer{
    align-items: center;
}

.error, .jserror{
    color: red;
}

.div-table {
    max-height: 80vh;
    width: 95vw;
    overflow: scroll;
    padding: .3rem;
    background-color: white;
    display: flex;
    justify-content: center;
}

.table {
    border: 2px solid darkgray;
    padding: 0;
    text-align: center;
    border-collapse: collapse;
}

.table .thead {
    border: 2px solid darkgray;
    color: rgb(17, 107, 190);
}

.table td {
    border: 1px solid rgba(211, 211, 211, 0.7);
    margin: 0;
    padding: .2rem;
}

.table .thead td {
    font-size: 1rem;
}

#up-down-box{
    align-self: center;
}

#up-down{
    max-width: 4rem;
}

#plus, #minus{
    margin: .1rem;
    padding: .1rem;
    background-color: rgba(72,56,23 ,1);
    color: white;
    font-size: .6rem;
    transition: all .25s;
    box-shadow: 1px 1px black;
}

#plus:hover, #minus:hover{
    background-color: rgba(72,56,23 ,.7);
}

#plus:active, #minus:active{
    background-color: rgba(72,56,23 ,.4);
    box-shadow: none;
}

@media (max-width: 768px){

    .header{
        flex-direction: column;
        justify-content: space-around;
    }
    
}